[submodule "scripts/packages/tator-py"]
	path = scripts/packages/tator-py
	url = https://github.com/cvisionai/tator-py.git
[submodule "scripts/packages/tator-r"]
	path = scripts/packages/tator-r
	url = https://github.com/cvisionai/tator-r.git
[submodule "scripts/packages/tator-js"]
	path = scripts/packages/tator-js
	url = https://github.com/mbari-org/tator-js.git
[submodule "containers/tator_transcode"]
	path = containers/tator_transcode
	url = https://github.com/cvisionai/tator-transcode.git
[submodule "containers/svt_transcoder"]
	path = containers/svt_transcoder
	url = https://github.com/cvisionai/svt_transcoder.git
