[submodule "scripts/packages/tator-py"]
	path = scripts/packages/tator-py
	url = https://github.com/cvisionai/tator-py.git
[submodule "scripts/packages/tator-r"]
	path = scripts/packages/tator-r
	url = https://github.com/cvisionai/tator-r.git
[submodule "scripts/packages/tator-js"]
	path = scripts/packages/tator-js
	url = https://github.com/mbari-org/tator-js.git
	branch = main
